body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 0;
}

.navbar {
    margin-top: 20px;
}

.navbar a {
    color: #133E87;
}

.navbar span {
    color: #133E87;
}

.applications-container {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #133E87;
    color: white;
}

tr:hover {
    background-color: #CBDCEB;
}

a {
    color: #133E87;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

.no-post p {
    text-align: center;
}
